.titleSection {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 600;
  color: #3d8fec;
  input[type='checkbox'] {
    margin: 5px 5px 0 0;
  }
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.short {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.full {
  display: block;
}
